In [1]:
import pandas as pd
import numpy as np
import matplotlib
import holoviews
import sklearn

# Load excel file

In [2]:
path='preprocessed/removed_empty_columns.xlsx'

In [3]:
data=pd.ExcelFile(path)

In [4]:
data.sheet_names

[u'2732', u'Sheet1', u'Sheet2', u'Sheet1 (2)', u'Sheet3', u'Sheet5']

In [5]:
df=data.parse('2732')

In [6]:
df

,SL_NO,Hosp_No,D O A,Los,Sex,Age,SES,Education,profession,Income,...,vessel_score,FRS,CVD,HA,Mobility,Self-care,Usual activitis,Pain/Discomfort,Anxiety/Depression,Unnamed: 59
0,1,2561821,19/4/2015,3,2,60,2,6,7,7,...,1,17,29.4,80,1,1,1,1,1,NaN
1,2,2496064,2015-07-06 00:00:00,4,2,52,2,6,4,5,...,1,11,11.2,57,1,1,1,1,1,NaN
2,3,2431861,2015-09-06 00:00:00,4,1,54,1,2,7,7,...,2,17,18.5,>80,1,1,1,1,1,NaN
3,4,2729476,2015-09-06 00:00:00,3,2,60,1,4,3,1,...,2,24,30,80,1,2,2,1,1,NaN
4,5,2731723,2015-08-06 00:00:00,5,2,59,1,6,6,4,...,2,13,15.6,64,1,1,1,1,1,NaN
5,6,2734407,2015-12-06 00:00:00,5,2,43,2,6,6,4,...,1,10,19.4,54,2,1,1,1,1,NaN
6,7,2732144,2015-11-06 00:00:00,5,2,50,2,6,6,5,...,1,19,30,80,1,1,1,2,2,NaN
7,8,2734113,13/6/2015,4,2,49,2,7,7,6,...,1,14,18.4,68,1,1,1,1,1,NaN
8,9,2734035,2015-12-06 00:00:00,4,2,45,1,7,6,5,...,1,13,15.6,64,1,1,1,2,1,NaN
9,10,2734099,2015-12-06 00:00:00,4,2,64,1,2,7,3,...,1,18,>30,>80,2,1,1,1,2,NaN
10,11,2731242,2045-10-06 00:00:00,7,2,62,2,7,7,7,...,2,9,5.3,55,2,1,2,1,1,NaN
11,12,2734200,16/6/2015,7,2,64,2,4,3,5,...,2,17,29.4,>80,3,1,2,2,1,NaN
12,13,2735351,16/6/2015,3,1,53,1,5,7,7,...,1,16,15.9,>80,1,1,1,1,1,NaN
13,14,2735643,17/6/2015,6,2,42,2,6,6,5,...,1,11,11.2,57,1,1,1,1,1,NaN
14,15,2630868,17/6/2015,3,2,60,1,2,3,1,...,2,12,13.2,60,1,1,1,1,2,NaN
15,16,2735277,16/6/2015,14,2,45,2,4,3,6,...,2,12,13.2,60,1,1,1,1,1,NaN
16,17,2713695,22/6/2015,8,2,62,2,6,3,6,...,2,16,25.3,76,1,1,2,2,1,NaN
17,18,2631019,16/6/2015,4,2,63,1,6,3,4,...,1,26,>30,>80,3,1,1,3,3,NaN
18,19,2737636,22/6/2015,4,2,40,2,6,5,6,...,1,3,2.8,36,1,1,1,1,1,NaN
19,20,2736467,19/6/2015,4,2,43,1,3,3,6,...,1,13,15.6,64,1,1,1,1,1,NaN
20,21,2736468,19/6/2015,4,2,58,1,4,4,2,...,2,18,30,80,1,1,1,1,2,NaN
21,22,2736539,19/06/2015,4,2,52,2,3,3,5,...,3,21,>30,>80,1,1,1,1,1,NaN
22,23,2736782,19/6/2015,7,2,62,2,6,5,5,...,3,12,13.2,60,1,1,1,1,1,NaN
23,24,2736501,20/6/2015,3,2,56,1,4,3,1,...,1,18,30,80,1,1,1,1,1,NaN
24,25,2735611,20/6/2015,7,2,46,1,1,2,1,...,3,15,21.6,72,1,1,1,1,1,NaN
25,26,2659304,20/6/2015,5,2,62,2,7,3,6,...,2,18,>30,>80,1,1,1,1,1,NaN
26,27,2737624,22/06/2015,4,1,56,1,6,3,6,...,1,12,13.2,60,1,1,1,2,3,NaN
27,28,2622220,22/6/2015,5,1,63,1,6,6,4,...,1,12,13.2,60,1,1,1,1,1,NaN
28,29,2737176,22/6/2015,6,2,45,1,1,1,1,...,1,10,9.4,54,1,1,1,1,1,NaN
29,30,2737277,23/6/2015,2,2,46,1,2,2,2,...,1,15,21.6,72,1,1,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,971,2892906,2016-01-06 00:00:00,4,1,54,1,7,7,7,...,2,20,28.5,80,2,2,2,2,2,NaN
972,972,2893118,2016-02-06 00:00:00,2,2,45,1,6,4,4,...,1,11,11.2,57,1,1,2,2,2,NaN
973,973,2892222,31/5/2016,4,2,60,2,7,6,5,...,2,16,25.3,76,1,1,1,1,1,NaN
974,974,2893025,2016-01-06 00:00:00,3,1,62,2,6,3,5,...,2,20,30,80,1,1,2,2,2,NaN
975,975,2890810,31/5/2016,4,2,62,1,6,3,5,...,1,17,29.4,80,1,1,1,1,1,NaN
976,976,2893035,2016-01-06 00:00:00,3,2,38,2,4,3,3,...,1,8,6.7,48,1,1,1,1,1,NaN
977,977,2894048,2016-03-06 00:00:00,4,2,65,1,3,2,2,...,3,17,29.4,80,1,2,1,1,2,NaN
978,978,2893594,2016-04-06 00:00:00,6,2,47,2,6,5,4,...,2,17,29.4,80,2,2,2,2,2,NaN
979,979,2813020,2016-03-06 00:00:00,11,2,60,2,7,5,5,...,1,15,21.6,72,2,1,2,3,2,NaN
980,980,2894527,2016-06-06 00:00:00,8,1,60,2,6,3,3,...,2,3,2.8,36,2,1,1,1,3,NaN
981,981,2893547,2016-03-06 00:00:00,5,2,63,1,6,5,5,...,1,19,30,80,1,1,1,1,1,NaN
982,982,2888070,2016-03-06 00:00:00,4,1,64,2,6,7,7,...,1,19,30,80,1,2,2,2,1,NaN
983,983,2863631,2016-03-06 00:00:00,8,2,57,1,4,4,4,...,2,16,25.3,76,1,1,1,1,1,NaN
984,984,2894469,2016-05-06 00:00:00,7,1,50,2,6,6,5,...,2,8,4.5,51,1,1,1,1,1,NaN
985,985,2901560,23/6/2016,8,2,64,1,4,3,4,...,1,14,18.4,68,1,1,1,1,1,NaN
986,986,5009928,2016-06-06 00:00:00,4,1,69,1,6,7,7,...,2,17,18.5,80,1,1,1,1,3,NaN
987,987,2894999,2016-06-06 00:00:00,4,2,48,1,5,4,3,...,1,14,18.4,68,2,1,1,1,1,NaN
988,988,2894768,2016-06-06 00:00:00,4,1,48,2,6,3,2,...,2,14,18.4,68,1,1,1,2,2,NaN
989,989,2453358,2016-06-06 00:00:00,3,1,50,1,2,7,7,...,1,17,18.5,80,2,1,1,1,2,NaN
990,990,2894532,2016-06-06 00:00:00,3,2,57,2,7,7,6,...,1,14,18.4,68,1,1,1,1,2,NaN
991,991,2881836,2016-06-06 00:00:00,4,2,59,1,4,5,6,...,2,17,29.4,80,1,2,2,1,2,NaN
992,992,2895043,2016-07-06 00:00:00,4,2,65,2,7,6,6,...,2,16,25.3,76,1,1,1,1,1,NaN
993,993,2894665,2016-06-06 00:00:00,4,1,59,1,4,4,6,...,2,17,29.4,80,2,1,1,1,2,NaN
994,994,2897690,14/6/2016,7,1,61,1,6,7,7,...,2,16,15.6,80,2,1,2,1,1,NaN
995,995,2895220,24/6/2016,9,2,60,1,6,5,5,...,2,16,25.3,80,1,1,1,1,3,NaN
996,996,2897770,20/6/2016,6,2,50,1,7,7,7,...,1,9,7.9,51,2,1,2,2,3,NaN
997,997,2536472,20/6/2016,3,2,57,1,3,4,4,...,1,12,13.2,60,1,1,1,1,2,NaN
998,998,2897768,22/6/2016,4,1,65,1,2,7,7,...,1,15,13.7,80,2,2,3,3,3,NaN
999,999,2400346,25/6/2016,5,2,65,1,7,5,5,...,2,18,30,80,1,1,1,1,1,NaN
1000,1000,2900752,25/6/2016,3,2,49,1,6,7,7,...,1,6,3.3,45,2,1,1,1,2,NaN

# Drop column if all values are nan

In [7]:
df=df.dropna(axis=1,how='all')

In [8]:
df.head(5)

,SL_NO,Hosp_No,D O A,Los,Sex,Age,SES,Education,profession,Income,...,vessel_score,FRS,CVD,HA,Mobility,Self-care,Usual activitis,Pain/Discomfort,Anxiety/Depression,Unnamed: 59
0,1,2561821,19/4/2015,3,2,60,2,6,7,7,...,1,17,29.4,80,1,1,1,1,1,NaN
1,2,2496064,2015-07-06 00:00:00,4,2,52,2,6,4,5,...,1,11,11.2,57,1,1,1,1,1,NaN
2,3,2431861,2015-09-06 00:00:00,4,1,54,1,2,7,7,...,2,17,18.5,>80,1,1,1,1,1,NaN
3,4,2729476,2015-09-06 00:00:00,3,2,60,1,4,3,1,...,2,24,30,80,1,2,2,1,1,NaN
4,5,2731723,2015-08-06 00:00:00,5,2,59,1,6,6,4,...,2,13,15.6,64,1,1,1,1,1,NaN

Last column still seems to be nan

In [9]:
df['Unnamed: 59']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
       ...
971     NaN
972     NaN
973     NaN
974     NaN
975     NaN
976     NaN
977     NaN
978     NaN
979     NaN
980     NaN
981     NaN
982     NaN
983     NaN
984     NaN
985     NaN
986     NaN
987     NaN
988     NaN
989     NaN
990     NaN
991     NaN
992     NaN
993     NaN
994     NaN
995     NaN
996     NaN
997     NaN
998     NaN
999     NaN
1000    NaN
Name: Unnamed: 59, dtype: object

Seems useless...remove

In [10]:
del df['Unnamed: 59']

In [11]:
df.shape

(1001, 59)

# got 1001 patients with 59 columns

In [12]:
import cPickle as pkl

In [13]:
with open('dataframes/los.pkl','wb') as f:
    pkl.dump(df,f)